<div class="card">
	<div class="card-body" id="postCard">
		<h5 class="card-title" id="postTitle"></h5>
		<p class="card-text" id="postText"></p>
		<a href="#" class="card-link" id="postLink"></a>
	</div>
</div>