<div class="card">
	<div class="card-body">
		<h5 class="card-title" id="redditCard"></h5>
		<p class="card-text" id="redditText"></p>
		<a href="#" class="card-link" id="redditLink"></a>
	</div>
</div>